<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>

    <typeAliases>
        <typeAlias alias="Calculate" type="adminCalculate.CalculateVO"/>
        <typeAlias alias="Sales" type="adminSales.SalesVO"/>
        <typeAlias alias="Stats" type="adminStats.StatsVO"/>
        <typeAlias alias="User" type="useInfo.UserVO"/>
        <typeAlias alias="UserInfo" type="userInfoView.UserInfoVO"/>
    </typeAliases>
    
    <environments default="development">
      <environment id="development">
        <transactionManager type="JDBC"/>
        <dataSource type="POOLED">
          <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
          <property name="url" value="jdbc:mysql://localhost:3306/barogo?useUnicode=true&amp;characterEncoding=UTF-8&amp;serverTimezone=Asia/Seoul"/>
          <property name="username" value="root"/>
          <property name="password" value="qwe123"/>
        </dataSource>
      </environment>
    </environments>
    
    <mappers>
      <mapper class="barogo.user.repository.UserMapper"/>
    </mappers>
</configuration>