.split-pane:vertical {
	-fx-background-color: 
        #c0c0c0,
        linear-gradient(#fafdfe, #e8f5fc);
}

.label {
    -fx-font-weight: bold;
    -fx-text-fill: black;
	-fx-font-family: "Haan Baekje M";
    
}

.button{ 
	-fx-background-color: 
        rgba(0,0,0,0.08),
        linear-gradient(#5a61af, #51536d),
        linear-gradient(#e4fbff 0%,#cee6fb 10%, #a5d3fb 50%, #88c6fb 51%, #d5faff 100%);
    -fx-background-insets: 0 0 -1 0,0,1;
    -fx-background-radius: 5,5,4;
    -fx-text-fill: #242d35;
    -fx-font-family: "Haan Baekje M";
    -fx-font-size: 13px;
	 } 

// 카운터 회원검색 시간추가 창(Member2) CSS